@use 'sass:math';

$font-size-base: 10;
$font-size-small: $font-size-base * 0.75;
$font-size-normal: $font-size-base * 1;
$font-size-large: $font-size-base * 1.25;
$font-family-primary: 'abril_fatfaceregular';

@function rem($px) {
  @return math.div($px, $font-size-base) + rem;
}
$box-shadow-todo-item:
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
$box-shadow-btn-icon:
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);

$disabled-opacity: 0.3;
$hover-opacity: 0.8;

$border-radius-sm: 0.25rem;
$border-radius-md: 0.5rem;
$border-radius-lg: 1rem;
